<header>
    <ul class="header-list">
      <li class="menu-icon">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo">
        <h1>Keep-Gambling Casino</h1>
      </li>
      <li class="nav-button">
        <button>Help</button>
      </li>
      <li class="nav-button">
        <button>Promotions</button>
      </li>
      <li class="user-info">
        <span class="credits">{{ credits | number }}</span>
        <span class="username" (click)="toggleDropdown()">Hello {{ userName }}</span>
        <ul class="dropdown" *ngIf="isDropdownOpen">
            <!-- <button *ngIf="!this.isUserAuthenticated()"  -->
            <button class="login-button" routerLink="/login">Login</button>
            <button class="login-button" routerLink="/register">Register</button>
        </ul>
      </li>
    </ul>
  </header>
  