<header>
    <ul class="header-list">
      <li class="menu-icon">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo">
        <span routerLink="">Keep Gambling Casino</span>
      </li>
      <li class="nav-button">
        <button class="help-button" routerLink="/helpsite">Help</button>
      </li>
      <li class="nav-button">
        <button class="promo-button" routerLink="/promotions">Promotions</button>
      </li>
      <li class="user-info">
        <span class="credits">{{ credits | number }}</span>
        <span class="username" (click)="toggleDropdown()">Hello {{ userName }}</span>
        <ul class="dropdown" *ngIf="isDropdownOpen">
            <!-- <button *ngIf="!this.isUserAuthenticated()"  -->
            <li><button class="login-button" routerLink="/login">Login</button></li>
            <li><button class="login-button" routerLink="/register">Register</button></li>

        </ul>
      </li>
    </ul>
  </header>
  