<div class="games-wrapper">
  <div class="game-container">
    <div class="game-image">
      <div class="button-overlay">
        <button class="transparent-button play-button">Play</button>
        <button class="transparent-button info-button">Info</button>
      </div>
    </div>
  </div>
  <div class="game-container">
    <div class="game-image2">
      <div class="button-overlay">
        <button class="transparent-button play-button">Play</button>
        <button class="transparent-button info-button">Info</button>
      </div>
    </div>
  </div>
</div>
