
.container {
    display: flex;
    flex-direction: column;
    background-color: #001a4d;
    color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 98vh;
  }
  
  .banner img {
    width: 80%;
    margin: 20px 0;
  }

  .footer {
    font-size: 24px;
  }